.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 30px;

  button {
    width: 200px;
    font-weight: 700;
  }

  .loginLogo {
    img {
      object-fit: cover;
      width: 150px;
    }
  }
}
