# Python関連
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# TypeScript関連
node_modules/
*.tsbuildinfo
*.log

# MySQL関連
*.sql

# Node.js関連
node_modules/
npm-debug.log
yarn-error.log

# 環境設定ファイル
# *.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker関連
docker-compose.override.yml
.dockerignore

# Terraform関連
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Redis関連
dump.rdb
*.aof

# Kubernetes関連
kubeconfig

# VSCode関連
.vscode/

# パッケージングファイル
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
wheelhouse/

# Jupyter Notebookのチェックポイント
.ipynb_checkpoints

# OS生成ファイル
.DS_Store
Thumbs.db

# ログとデータベース
*.log
*.sql
*.sqlite

# その他のファイル
*.swp
*.swo
*.tmp
temp/
tmp/

# その他のバージョン管理に不要なファイル/ディレクトリ
