.dashboard {
  color: lightgray;
  flex-grow: 1;

  select,
  input {
    background-color: #2e2e35;
    color: lightgray;
    border: 1px solid #60606d;
    border-radius: 5px;
    padding: 0.5em;
    margin: 1em;
  }

}
