bucket         = "s3-apne1-market-analysis-webapp-prod-terraform-backend-93"
region         = "ap-northeast-1"
key            = "terraform-market-analysis-infra/ap-northeast-1/prod/terraform.tfstate"
profile        = "masanori"
dynamodb_table = "dynamo-apne1-market-analysis-webapp-prod-terraform-state-lock"
encrypt        = true
